doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head("404: Bad Request")

  body.index-bg(scroll="no")
    badRequest(class="m-page scene_element scene_element--fadein")
  
  +create-footer

  script(type="text/javascript" src="scripts/index.js")
