doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head("Index")

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/index")
        logo
      ul
        li
          a(href="login") Login
        li
          a(href="receive") Receive
        li
          a(href="send") Send
        li
          a(href="stats") Stats
        li
          a(href="logout") Log Out

    index
      form(class="m-page scene_element scene_element--fadein")
        form()
          h2=user
          house 
          postbox
          mail
          text-box
            h1(id="info-text") Welcome to Simun!
            arrow-left(id="arrow-left")
            arrow-right(id="arrow-right")
  
  +create-footer

  script(type="text/javascript" src="scripts/index.js")
