doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head("Login")

  body.index-bg(scroll="no")

    login
      holder
      form(class="m-page scene_element scene_element--fadein login-submit"  method="post" action="/login")
        h1 Simun  
        h2=lMessage
        input.shadow(type="text" name="username" id="Input Username" placeholder="Username" autofocus)
        br
        input.shadow(type="password" name="password" id="Input Password" placeholder="Password")
        br
        button(type="submit" name="button" value="login") Login  
        br
        button(type="submit" name="button" value="register") Register
  +create-footer

  //- script(type="text/javascript" src="../scripts/login.js")
