doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/index")
        logo
      ul
        li
          a.color-light(href="login") Login
        li
          a(href="receive") Receive
        li
          a(href="send") Send
        li
          a(href="stats") Stats

    register
      holder
      form(class="register-submit"  method="post" action="/register")
        h1 Simun  
        h2=rMessage
        input.shadow(type="text" name="username" id="Input Username" placeholder="Username" autofocus)
        br
        input.shadow(type="password" name="password" id="Input Password" placeholder="Password")
        br
        input.shadow(type="password" name="confirmPassword" id="Input Password" placeholder="Confirm Password")
        br
        button(type="submit" name="button" value="register") Register  
        br
        button(type="submit" name="button"  value="cancel") Cancel
  +create-footer

  //- script(type="text/javascript" src="../scripts/login.js")
